:host {
    display: block;
    padding: 3rem 2rem;
   
}



.title {
   
    text-align: center;
    color: #229DCC; /* Cambia el color del título a rgb(123, 182, 212) */
}

table {
    margin-top: 2rem;
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    color: white; /* Cambia el color del texto de las celdas de la tabla a blanco */
}

.table thead th {
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
}



.container{
    color:#fff
}